body, .modal {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#profileContainer, #quizCard {
    display: none;
}

.profilePicture {
    max-height: 250px;
}

.hero .btn, .playQuizBtn{
    color: white;
    background-color: #7678ED;
    border-color: #7678ED;
}

.hero .btn:hover, .playQuizBtn:hover{
    color: white;
    background-color: #9b5de5;
}

.modal .btn {
    background: #7678ED;
    border: none;
}

.col img {
    width: 50px;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

